# Set up

### Libraries

In [12]:
import pandas as pd
import inflection
import numpy as np
import seaborn as sns

from matplotlib             import pyplot as plt
from IPython.display        import HTML

### Functions

In [2]:




def jupyter_settings():
    %matplotlib inline
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    sns.set()

In [3]:
jupyter_settings()

### Import Data

In [5]:
df_test_raw = pd.read_csv('train.csv', low_memory=False)

## ETL

In [19]:
df1 = df_test_raw.copy()

In [20]:
df1.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

- Id: identificador único do cliente.
- Gender: gênero do cliente.
- Age: idade do cliente.
- Driving License: 0, o cliente não tem permissão para dirigir e 1, o cliente tem para dirigir ( CNH – CarteiraNacional de Habilitação )
- Region Code: código da região do cliente.
- Previously Insured: 0, o cliente não tem seguro de automóvel e 1, o cliente já tem seguro de automóvel.
- Vehicle Age: idade do veículo.
- Vehicle Damage: 0, cliente nunca teve seu veículo danificado no passado e 1, cliente já teve seu veículodanificado no passado.
- Anual Premium: quantidade que o cliente pagou à empresa pelo seguro de saúde anual.
- Policy sales channel: código anônimo para o canal de contato com o cliente.
- Vintage: número de dias que o cliente se associou à empresa através

In [21]:
df1.head(5)

# Notes: 
# Vehicle_Age: Separar o Year da coluna
# Vehicle_damage: Pode ser 1=yes 0=no
# Vintage: precisa modificar alguma coisa pra tipo data??

   id  Gender  Age  Driving_License  Region_Code  Previously_Insured Vehicle_Age Vehicle_Damage  Annual_Premium  Policy_Sales_Channel  Vintage  Response
0   1    Male   44                1         28.0                   0   > 2 Years            Yes         40454.0                  26.0      217         1
1   2    Male   76                1          3.0                   0    1-2 Year             No         33536.0                  26.0      183         0
2   3    Male   47                1         28.0                   0   > 2 Years            Yes         38294.0                  26.0       27         1
3   4    Male   21                1         11.0                   1    < 1 Year             No         28619.0                 152.0      203         0
4   5  Female   29                1         41.0                   1    < 1 Year             No         27496.0                 152.0       39         0

In [22]:
df1.dtypes

id                        int64
Gender                   object
Age                       int64
Driving_License           int64
Region_Code             float64
Previously_Insured        int64
Vehicle_Age              object
Vehicle_Damage           object
Annual_Premium          float64
Policy_Sales_Channel    float64
Vintage                   int64
Response                  int64
dtype: object

In [23]:
df1.isna().sum()

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

### Rename Columns

In [24]:
old_columns = [ 'id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response']

snakecase = lambda x: inflection.underscore( x )
cols_new = list (map (snakecase, old_columns))

# Rename
df1.columns = cols_new

df1.columns

Index(['id', 'gender', 'age', 'driving_license', 'region_code',
       'previously_insured', 'vehicle_age', 'vehicle_damage', 'annual_premium',
       'policy_sales_channel', 'vintage', 'response'],
      dtype='object')

### Change Data Types

In [26]:
# vehicle_age: Separar o Year da coluna


# df1['vehicle_age'] = df1.apply( lambda x: x['vehicle_age'].split( ' ' ), axis=1 )



df1['vehicle_damage'] = df1.apply( lambda x: 0 if x['vehicle_damage'] == 'No' else 1, axis=1 )

# df1['vehicle_age'] = df1[['vehicle_age']].apply( lambda x: 0 if x['promo_interval'] == 0 else 1 if x['month_map'] in x['promo_interval'].split( ',' ) else 0, axis=1 )

In [32]:
df1.head(5)

   id  gender  age  driving_license  region_code  previously_insured vehicle_age  vehicle_damage  annual_premium  policy_sales_channel  vintage  response
0   1    Male   44                1         28.0                   0   > 2 Years               1         40454.0                  26.0      217         1
1   2    Male   76                1          3.0                   0    1-2 Year               0         33536.0                  26.0      183         0
2   3    Male   47                1         28.0                   0   > 2 Years               1         38294.0                  26.0       27         1
3   4    Male   21                1         11.0                   1    < 1 Year               0         28619.0                 152.0      203         0
4   5  Female   29                1         41.0                   1    < 1 Year               0         27496.0                 152.0       39         0

In [31]:
df1['vehicle_age_year'] = df1['vehicle_age'].apply( lambda x: x['vehicle_age'].split( 'Years', 'Year'), axis=1 )

TypeError: string indices must be integers

In [27]:
df1.head(5)

   id  gender  age  driving_license  region_code  previously_insured vehicle_age  vehicle_damage  annual_premium  policy_sales_channel  vintage  response
0   1    Male   44                1         28.0                   0   > 2 Years               1         40454.0                  26.0      217         1
1   2    Male   76                1          3.0                   0    1-2 Year               0         33536.0                  26.0      183         0
2   3    Male   47                1         28.0                   0   > 2 Years               1         38294.0                  26.0       27         1
3   4    Male   21                1         11.0                   1    < 1 Year               0         28619.0                 152.0      203         0
4   5  Female   29                1         41.0                   1    < 1 Year               0         27496.0                 152.0       39         0

In [28]:
df1.dtypes

id                        int64
gender                   object
age                       int64
driving_license           int64
region_code             float64
previously_insured        int64
vehicle_age              object
vehicle_damage            int64
annual_premium          float64
policy_sales_channel    float64
vintage                   int64
response                  int64
dtype: object